In [1]:
import pandas as pd
import numpy as np
import openai
import pickle
import psycopg2
from psycopg2 import Error
from bd import *
import os
import datetime

db = SQLDatabase(user="postgres", password="1111", host="localhost", port="5432", db_name="corunaRealEstateMarket")
db_con = db.get_connection()
db_cursor = db.get_cursor()

Database object created

### Funciones auxiliares

In [2]:
def get_cols_dict(cols):
    cols_dict = {}
    for i, col in enumerate(cols):
        cols_dict[col] = i
    return cols_dict
    
def get_tuple(row, cols):
    id = str(row[cols["id"]])
    desc = str(row[cols["title"]]) + " " + str(row[cols["description"]]) + " " + str(row[cols["extra_info"]])
    desc = desc.replace('"', '')
    desc = '"' + desc + '"'
    item = '(' + id + ';' + desc + ')'
    return item

In [3]:
def call_gpt(input):
    messages = [ {"role": "system", "content": input} ]
    chat = openai.ChatCompletion.create(model="gpt-3.5-turbo", messages=messages)
    finish_reason = chat.choices[0].finish_reason
    return chat, finish_reason == 'stop'

def get_answer_gpt(chat):
    return chat.choices[0].message["content"]
    
def get_usage_gpt(chat):
    usage = chat.usage
    return usage

def save_object(obj, filename):
    with open(filename, 'wb') as file:
        pickle.dump(obj, file)

def insertar_input(prompt, input):
    prompt = prompt.split("INSERTA AQUÍ LAS VIVIENDAS")
    return prompt[0] + "'''\n" + input + "'''" + prompt[1]

In [4]:
def get_data_answer_gpt(ans, ids):
    columns = ['id', 'n_banos', 'n_plazas_garaje', 'direccion', 'landmarks_cercanos', 'piscina', 'info_alquiler', 'calefaccion', 'valoracion']
    int_columns = ['id', 'n_banos', 'n_plazas_garaje', 'valoracion']
    str_columns = ['direccion', 'landmarks_cercanos', 'piscina', 'info_alquiler', 'calefaccion']
    data = []
    error_id = []
    for item in ans.split('(')[1:]:
        item = item.strip().replace(')', '')
        row = item.split(';')
        # check if the row has the correct number of columns
        if len(row) == len(columns) and row[0] in [str(id) for id in ids]:
            data.append(row)
        else:
            error_id.append(row[0])
    data = pd.DataFrame(data, columns=columns)
    data = data.replace('E', -1)
    data = data.fillna(-1)
    data[int_columns] = data[int_columns].astype(int)
    data[str_columns] = data[str_columns].astype(str)
    return data, error_id

In [5]:
def obtener_id_sin_info(db_cursor):
    query = 'SELECT id FROM viviendas WHERE id not in (select id from viviendas_info_gpt) or id not in (select id from alquiler_info)'
    try:
        db_cursor.execute(query)
        result = db_cursor.fetchall()
        ids_bd = set([x[0] for x in result])
        return ids_bd
    except Exception as e:
        print(e)
        return None

In [6]:
def insertar_info_viviendas_bd(db_cursor, data, cols):
    return_val_1 = return_val_2 = False
    
    query_info_gpt = '''
        INSERT INTO public.viviendas_info_gpt(
        id, n_banos, n_plazas_garaje, direccion, landmarks_cercanos, piscina, valoracion, calefaccion)
        VALUES (%s::integer, %s::integer, %s::integer, %s::text, %s::text, %s::text, %s::integer, %s::text);
    '''
    query_info_alquiler= '''
        INSERT INTO public.alquiler_info(
        id, info_alquiler)
        VALUES (%s::integer, %s::text);
    '''
    try:
        db_cursor.execute(
            query_info_gpt,
            (
                data[cols['id']],
                data[cols['n_banos']],
                data[cols['n_plazas_garaje']],
                data[cols['direccion']],
                data[cols['landmarks_cercanos']],
                data[cols['piscina']],
                data[cols['valoracion']],
                data[cols['calefaccion']]
            )
        )
        return_val_1 = True
    except Error as e:
        print(e)
        return_val_1 = False

    try:
        db_cursor.execute(query_info_alquiler, (data[cols['id']], data[cols['info_alquiler']]))
        return_val_2 = True
    except Exception as e:
        print(e)
        return_val_2 = False

    return return_val_1, return_val_2

### Chat GPT

In [7]:
openai.api_key  = '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'

### Conversation

In [8]:
# read text file prompt.txt and store it in a variable
with open('prompt.txt', 'r', encoding='utf-8') as file:
    prompt = file.read()

In [9]:
src_folder = './data/idealista/'
files = []
for file in os.listdir(src_folder):
    if file.endswith('.csv'):
        files.append(os.path.join(src_folder, file))

In [10]:
batch_size = 13
history = []
ids_viviendas = obtener_id_sin_info(db_cursor)
filename_history = 'history_' + str(datetime.datetime.now().strftime('%Y-%m-%d %H-%M-%S'))
filename_history = os.path.join('history_gpt_api', filename_history)

for f in files:
    df = pd.read_csv(f)
    ids = set(df['id'].to_numpy())
    ids = ids.intersection(ids_viviendas)
    df = df[df['id'].isin(ids)]
    cols = get_cols_dict(df.columns)
    data = df.to_numpy()
    n = len(df)
    for i in range(0,n,batch_size):
        query_ok = None
        query = ''
        ids = []
        for j in range(i,min(i+batch_size,n)):
            row = data[j]
            ids.append(row[0])
            row = get_tuple(row, cols)
            query += row + '\n'
        query = insertar_input(prompt, query)
        chat, query_ok = call_gpt(query)
        if query_ok:
            try:
                ans = get_answer_gpt(chat)
                data_answer, errors_id = get_data_answer_gpt(ans, ids)
            except:
                query_ok = False
        print("starts call_gpt", 13-len(errors_id))
        insert_ok = []  
        kk = 0
        if query_ok: 
            for row in data_answer.to_numpy():
                cols_ans = get_cols_dict(data_answer.columns)
                if row[cols_ans['id']] in errors_id: continue
                kk += 1
                insert1_ok, insert2_ok = insertar_info_viviendas_bd(db_cursor, row, cols_ans)
                insert_ok.append((insert1_ok, insert2_ok))
        history.append({"ids":ids, "chat":chat, "query":query, "query_ok":query_ok, "insert_ok":insert_ok})
        save_object(history, filename_history)
    ids_viviendas = ids_viviendas.difference(ids)

starts call_gpt 13
starts call_gpt 0
starts call_gpt 10

In [7]:
file = './history_gpt_api/history_2023-08-21 12-50-20'
# check if file exists
if os.path.isfile(file):
    #open with pickle
    with open(file, 'rb') as f:
        history = pickle.load(f)

In [8]:
chat = history[0]["query"]
print(chat[2500:])

ición para que tu hogar sea una experiencia inolvidable. Alquila tu casa y")
'''

Ejemplo de respuesta:
-----
(85382815;3;2;Fernandez Latorre, Cuatro Caminos - Plaza de la Cubela, a Coruña;Está a 10 minutos de la estación de tren, vistas a Benito Blanco Rajoy, Está a 5 minutos de la plaza de Lugo;Piscina comunitaria;trabajadores,fianza de 2 meses,comunidad no incluida,seguro incluido;central;8)
(102302864;E;E;calle Claveles, Someso - Matogrande, a Coruña;E;E;no se aceptan mascotas, contrato de larga estancia 12 meses, lista para entrar ya misma;E;6)
-----

Estas son las viviendas de las que tienes que extraer la información:

'''
(31122896;"Piso en ronda nelle, 140, Paseo de los Puentes-Santa Margarita, a Coruña Piso de lujo en LOS PUENTES Piso de 100m2 exterior, 3 planta, 3 dormitorios, 2 plazas de garaje, trastero Vivienda de 100 m2 en Los Puentes, calidad lujo, exterior, seminueva. Dispone recibidor con armario empotrado, amplio salón con grandes ventanales, 3 habitaciones con armarios empotrados, 2 b planta 3ª exterior con ascensor 5 minutos parking")
(102229560;"Piso en avenida Alcalde Pérez Arda, Cuatro Caminos - Plaza de la Cubela, a Coruña Desde HOUSE BY CLICK, te presentamos esta EXCELENTE OPORTUNIDAD DE ALQUILER EN PISO CON LUMINOSIDAD Y AMPLITUD EN AVENIDA ALCALDE PÉREZ ARDA, A CORUÑA Situado junto al apacible parque de Oza, este piso goza de una EXCELENTE UBICACIÓN en una zona tranquila, cercano a Cuatro Caminos y el Corte Inglé planta 8ª exterior con ascensor 04 ago parking")
(101489633;"Piso en calle Posse, 28, Cuatro Caminos - Plaza de la Cubela, a Coruña Disponible a partir de 1 de Septiembre Piso reformado con ascensor 3 habitaciones 1 baño con ducha, salón y cocina independiente con acceso a galería. Fianza 2 meses 1 garantía. planta 2ª exterior con ascensor 7 minutos")
(101864954;"Dúplex en Posse, Cuatro Caminos - Plaza de la Cubela, a Coruña Desde HOUSE BY CLICK, te presentamos un FANTÁSTICO DÚPLEX en ALQUILER con una UBICACIÓN EXCEPCIONAL en la Rua Posse, este increíble piso se encuentra estratégicamente ubicado al lado del Corte Inglés y de la Estación de Autobuses, justo enfrente del Centro Comercial Cuatro Caminos. Además, estarás r planta 6ª exterior con ascensor parking")
(31481254;"Piso en calle monte alto, Monte Alto - Zalaeta - Atocha, a Coruña Piso de 55mts aprox totalmente exterior, portal sin barreras arquitectónicas y ascensor grande. Calefaccion de gas natural, persianas eléctricas, suelo de parquet, ventanas climalit Dos habitaciones, la principal con armario empotrado, la segunda habitación es pequeña y está sin muebles. Puede ser planta 5ª exterior con ascensor 55 minutos")
(94534577;"Estudio en ronda Nelle, 9, Os Mallos, a Coruña Bonito apartamento, actual y moderno, Buena situación, con todos los servicios cerca y parada de bus. ( PRECIO FINAL FIJO 750 , INCLUIDOS TODOS LOS GASTOS internet, luz, agua y comunidad). NO FUMADORES. NO MASCOTAS. 2 MESES DE FIANZA. Pintado y realizado trabajos de conservación recientemente. Abs planta 6ª exterior con ascensor publicado ayer")
(102278109;"Estudio en calle Orzán, 64, Monte Alto - Zalaeta - Atocha, a Coruña Recién reformado piso en pleno centro de coruña en edificio tradicional de cristaleras coruñesas. No tiene ascensor pero son muy pocas escaleras. El edificio es muy tranquilo, solo tiene otros inquilinos. A pocos metros de la playa del orzan. Gastos de de electricidad, internet, agua y basuras no in planta 2ª exterior sin ascensor 2 horas")
(102279062;"Piso en emilio gonzalez lopez, Riazor - Los Rosales, a Coruña Se alquila estupendo piso muy soleado y amplio en una 6 planta de un edificio con zonnas comunes y piscina en la zona de los Rosales, es un piso que consta de 3 habitaciones muy amplias con armarios empotrados, salon comedor muy grande con amplio, cocina independiente totalmente equipada con todos planta 6ª exterior con ascensor 5 horas parking")
(97998281;"Piso en Monte Alto - Zalaeta - Atocha, a Coruña Piso en Avd. de Hércules, de 80 m2 útiles, totalmente reformado y a estrenar. Distribuido en Amplio salón. 2 habitaciones y una italiana ( todas ellas con armario empotrado y cajonera ). 2 baños ( uno incorporado en dormitorio principal ) Cocina americana, amueblada y totalmente equipada con vi planta 2ª con ascensor 15 horas")
(97547749;"Piso en Matadero, Monte Alto - Zalaeta - Atocha, a Coruña HOMEMATE dispone del alquiler de una vivienda en primera línea de playa, concretamente en la calle Matadero. Se trata de un quinto piso con ascensor, que dispone de 70 m2 de superficie construida y consta de 3 habitaciones, cocina, salón y sala de estar. Tarima de madera y ventanas climalit. Dispone planta 5ª interior con ascensor 16 horas")
(102276780;"Piso en Os Mallos, a Coruña Alquilase piso, 720 , dos dormitorios, salón, cocina amueblada, soleado, parquet, ascensor, calefacción, tratero, garaje, recibos de comunidad incluidos en el precio, situado zona estación, ref. 83940. planta 4ª exterior con ascensor 17 horas parking")
(94632896;"Piso en avenida María Pita, 73, Maianca, Oleiros DISPONIBLE SÓLO DURANTE CURSO ESCOLAR 2023-2024 (de septiembre 2023 a junio 2024) Casa dividida en 4 apartamentos totalmente independientes y con zonas exteriores y piscina de uso compartido (durante el período escolar, la piscina está operativa los meses de septiembre, mayo y junio). En una ubicac planta 1ª exterior sin ascensor 20 horas")
(102274162;"Piso en Veramar, 1, Monte Alto - Zalaeta - Atocha, a Coruña Encantador apartamento de dos dormitorios que incluye un cómodo salón-cocina y una cocina totalmente equipada con electrodomésticos como nevera, lavadora-secadora, microondas y horno. También dispone de un cuarto de baño. A pesar de estar en un piso interior, te impresionará su abundante luz natura planta 1ª interior con ascensor 1 hora")
'''

En las respuestas no incluyas más texto que las respuestas entre paréntesis, siguiendo el formato. No incluyas introducciones ni aclaraciones.
Es extremadamente importante que cada respuesta contenga 8 puntos y comas, y los 9 campos de la respuesta.

In [10]:
history[0]["ids"]

[31122896,
 102229560,
 101489633,
 101864954,
 31481254,
 94534577,
 102278109,
 102279062,
 97998281,
 97547749,
 102276780,
 94632896,
 102274162]

In [15]:
chat = history[0]["chat"]
ids = history[0]["ids"]
usage = history[0]["use"]
ans = get_answer_gpt(chat)
data_answer, errors_id = get_data_answer_gpt(ans, ids)

KeyError: 'use'

In [19]:
history[0]['chat'].usage

<OpenAIObject at 0x1d83a787290> JSON: {
  "prompt_tokens": 2539,
  "completion_tokens": 613,
  "total_tokens": 3152
}

In [14]:
columns = ['id', 'n_banos', 'n_plazas_garaje', 'direccion', 'landmarks_cercanos', 'piscina', 'info_alquiler', 'calefaccion', 'valoracion']
int_columns = ['id', 'n_banos', 'n_plazas_garaje', 'valoracion']
str_columns = ['direccion', 'landmarks_cercanos', 'piscina', 'info_alquiler', 'calefaccion']
data = []
for item in ans.split('(')[1:]:
    item = item.strip().replace(')', '')
    row = item.split(';')
    print(len(row), row)

9 ['31122896', ' E', ' 2', ' ronda nelle, 140, Paseo de los Puentes-Santa Margarita, a Coruña', ' Los Puentes, Estación de Autobuses, Centro Comercial Cuatro Caminos', ' E', ' E', ' exterior', ' -1']
7 ['102229560', ' E', ' E', ' avenida Alcalde Pérez Arda, Cuatro Caminos - Plaza de la Cubela, a Coruña', ' parque de Oza, Cuatro Caminos, El Corte Inglés', ' E', ' larga estancia']
3 ['12 meses, no se aceptan mascotas', ' E', ' 7']
8 ['101489633', ' E', ' E', ' calle Posse, 28, Cuatro Caminos - Plaza de la Cubela, a Coruña', ' E', ' E', ' reformado, ascensor', ' -1']
8 ['101864954', ' E', ' E', ' Posse, Cuatro Caminos - Plaza de la Cubela, a Coruña', ' Centro Comercial Cuatro caminos, Corte Inglés, Estación de Autobuses', ' E', ' E', ' -1']
8 ['31481254', ' E', ' E', ' calle monte alto, Monte Alto - Zalaeta - Atocha, a Coruña', ' E', ' E', ' calefacción de gas natural, persianas eléctricas', ' -1']
8 ['94534577', ' 1', ' E', ' ronda Nelle, 9, Os Mallos, a Coruña', ' E', ' E', ' -1', ' -1']
8 ['102278109', ' E', ' E', ' calle Orzán, 64, Monte Alto - Zalaeta - Atocha, a Coruña', ' playa del Orzán', ' E', ' Gastos de electricidad, internet, agua y basuras no incluidos', ' -1']
7 ['102279062', ' E', ' E', ' emilio gonzalez lopez, Riazor - Los Rosales, a Coruña', ' piscina', ' estupendo piso, 3 habitaciones muy amplias con armarios empotrados', ' -1']
8 ['97998281', ' E', ' E', ' Monte Alto - Zalaeta - Atocha, a Coruña', ' E', ' E', ' reformado, a estrenar, cocina americana', ' -1']
8 ['97547749', ' E', ' E', ' Matadero, Monte Alto - Zalaeta - Atocha, a Coruña', ' E', ' E', ' en primera línea de playa, 3 habitaciones', ' -1']
8 ['102276780', ' E', ' E', ' Os Mallos, a Coruña', ' estación', ' E', ' situado zona estación', ' -1']
8 ['94632896', ' E', ' E', ' avenida María Pita, 73, Maianca, Oleiros', ' E', ' piscina de uso compartido', ' E', ' -1']
8 ['102274162', ' 1', ' E', ' Veramar, 1, Monte Alto - Zalaeta - Atocha, a Coruña', ' E', ' E', ' piso interior con abundante luz natural', ' -1']